.alert {
    display: block;
    position: relative;
    border-radius: 6px;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: hsla(0,0%,95%,1);
    color: hsla(0,0%,9%,1);
    -webkit-transition: height .5s ease-in,opacity .5s ease-in;
    transition: height .5s ease-in,opacity .5s ease-in;
    word-wrap: break-word;
    word-break: break-word;
    border: 1px solid hsla(0,0%,100%,0);
}

.alert.is-warning {
    background: hsla(44,100%,90%,1) !important;
    border: 1px solid hsla(44,100%,90%,.999);
}

div.property {
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    word-break: break-word;
    margin-top: 24px;
}

div.property:first-of-type {
    margin-top: 0px;
}

dl.parameter {
    display: flex;
    max-width: 100%;
    margin: 0;
}

dl.parameter dt {
    background-color: #fafafa;
    display: inline-block;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-weight: 600;
    padding: 0 6px 2px;
}

dl.parameter dd {
    margin-left: 12px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    word-break: break-word;
}

.affix > ul.level1 {
    overflow-y: auto;
}

.decalaration, .fieldValue, .parameters, .returns, .propertyValue, .typeParameters {
    color: #a2a2a2;
    margin-top: 24px;
}

article * {
    scroll-margin-top: 120px;
}

article h1:first-of-type {
    scroll-margin-top: 145px;
}

article h5 {
    margin-top: 1.5em;
    margin-bottom: .5em;
}